# vi: ft=sh

# use venv if one exists
if [ -d ".venv" ]; then
  export VIRTUAL_ENV=.venv
  layout python
fi

# use nix shell if nix is available
if command -v nix &> /dev/null; then
  use_nix
fi

# load local config
source_env_if_exists .envrc.local
